
## <summary>policy for blockidcoin</summary>


########################################
## <summary>
##	Transition to blockidcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`blockidcoin_domtrans',`
	gen_require(`
		type blockidcoin_t, blockidcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, blockidcoin_exec_t, blockidcoin_t)
')


########################################
## <summary>
##	Execute blockidcoin server in the blockidcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blockidcoin_initrc_domtrans',`
	gen_require(`
		type blockidcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, blockidcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search blockidcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blockidcoin_search_lib',`
	gen_require(`
		type blockidcoin_var_lib_t;
	')

	allow $1 blockidcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read blockidcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blockidcoin_read_lib_files',`
	gen_require(`
		type blockidcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, blockidcoin_var_lib_t, blockidcoin_var_lib_t)
')

########################################
## <summary>
##	Manage blockidcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blockidcoin_manage_lib_files',`
	gen_require(`
		type blockidcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, blockidcoin_var_lib_t, blockidcoin_var_lib_t)
')

########################################
## <summary>
##	Manage blockidcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blockidcoin_manage_lib_dirs',`
	gen_require(`
		type blockidcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, blockidcoin_var_lib_t, blockidcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a blockidcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`blockidcoin_admin',`
	gen_require(`
		type blockidcoin_t;
		type blockidcoin_initrc_exec_t;
		type blockidcoin_var_lib_t;
	')

	allow $1 blockidcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, blockidcoin_t)

	blockidcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 blockidcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, blockidcoin_var_lib_t)

')

